<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/expenses">
                <i class="fa fa-money" aria-hidden="true">
                </i>&nbsp;Expenses</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/profile">Profile</a></li>
        </ul>
        <div style="float: right;">
            <ul class="nav navbar-nav">
                <li><a routerLink="/register">Register</a></li>
                <li><a routerLink="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>