<div class="container">
    <br/><br/><br/><br/>
    <div class="row">
        <!-- <div class="col-md-3">
            </div> -->
        <div class="col-md-3 col-md-offset-2">
            <br/>
            <br/>
            <img src="assets/registration-photo.png" alt="login photo" class="img-responsive">
        </div>
        <div class="col-md-3">
            <h2 class="text-center">
                Register
            </h2>
            <form>
                <input type="text" placeholder="name" class="form-control" />
                <br/>
                <input type="text" placeholder="email" required class="form-control" />
                <br/>
                <input type="password" placeholder="password" class="form-control" />
                <br/>
                <input type="password" placeholder="repeat the password" class="form-control" />
                <br/>
                <button class="btn btn-success form-control">Register</button>
                <br>
                <br>
                <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp;<a routerLink="/login">Login</a>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>